:root {
  /* Primary colors */
  --primary-strong: hsl(171deg, 66%, 44%);
  --primary-light: hsl(233deg, 100%, 69%);
  /* Neutral colors */
  --neutral-dark: hsl(210deg, 10%, 33%);
  --neutral-normal: hsl(201deg, 11%, 66%);
  /* Font weight */
  --regular: 400;
  --semibold: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: initial;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 18px;
}

.main {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  font-family: "Bai Jamjuree", sans-serif;
}

h2 {
  font-size: 27px;
  color: var(--neutral-dark);
  font-weight: 600;
}
@media screen and (min-width: 620px) {
  h2 {
    font-size: 35px;
  }
}

p {
  font-size: 16.3px;
  font-weight: 400;
  color: var(--neutral-normal);
  line-height: 24px;
}
@media screen and (min-width: 620px) {
  p {
    font-size: 20.3px;
  }
}

ul {
  list-style: none;
}

.download {
  width: 312px;
  height: 56px;
  border: 0px;
  border-radius: 50px;
  font-size: 19px;
  font-weight: 400;
  color: white;
  cursor: pointer;
  transition: 0.5s ease;
}
.download:hover {
  opacity: 0.8;
}
@media screen and (min-width: 620px) {
  .download {
    width: 226px;
    height: 54px;
  }
}
.download-container {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
  gap: initial;
  margin-top: 51px;
}
@media screen and (min-width: 620px) {
  .download-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
}
.download--ios {
  background-color: var(--primary-strong);
  box-shadow: 1px 1px 10px var(--primary-strong);
}
.download--mac {
  background-color: var(--primary-light);
  box-shadow: 1px 1px 10px var(--primary-light);
  margin-top: 24px;
}
@media screen and (min-width: 620px) {
  .download--mac {
    margin-top: 0;
  }
}

.main__hero {
  width: 100%;
}

.hero {
  margin: 0 32px;
}
.hero__background {
  padding: 0 31px;
  width: 100%;
  background-image: url(../images/bg-header-mobile.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: initial;
}
@media screen and (min-width: 620px) {
  .hero__background {
    background-image: url(../images/bg-header-desktop.png);
    padding: 0 350px;
  }
}
.hero__img {
  max-width: 100%;
  object-fit: cover;
  display: block;
}
.hero__img-container {
  margin-top: 122px;
}
@media screen and (min-width: 620px) {
  .hero__img-container {
    margin-top: 131px;
  }
}
.hero__h1 {
  margin-top: 65px;
  font-size: 31px;
  font-weight: 600;
  color: var(--neutral-dark);
}
@media screen and (min-width: 620px) {
  .hero__h1 {
    margin-top: 57px;
    font-size: 44.5px;
  }
}
.hero__p {
  margin-top: 20px;
  line-height: 26px;
}
@media screen and (min-width: 620px) {
  .hero__p {
    margin-top: 18px;
    line-height: 1.28;
  }
}

.main__track {
  margin: 0 32px;
}
@media screen and (min-width: 620px) {
  .main__track {
    margin: 0;
    align-self: flex-start;
    width: 100%;
  }
}

.track__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: initial;
}
@media screen and (min-width: 620px) {
  .track__container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    gap: 110px;
  }
}
.track__h3:first-child {
  margin-top: 57px;
}
@media screen and (min-width: 620px) {
  .track__h3:first-child {
    margin-top: 153px;
  }
}
.track__h3 {
  margin-top: 51px;
  font-size: 23px;
}
@media screen and (min-width: 620px) {
  .track__h3 {
    margin-top: 62px;
  }
}
.track__h3 ~ .track__p {
  margin-top: 14px;
}
@media screen and (min-width: 620px) {
  .track__h3 ~ .track__p {
    width: 340px;
    font-size: 16.3px;
    margin-top: 13px;
    text-align: left;
    line-height: 1.54;
  }
}
.track__h2 {
  margin-top: 161px;
}
@media screen and (min-width: 620px) {
  .track__h2 {
    margin-top: 153px;
  }
}
.track__p {
  margin-top: 21px;
}
@media screen and (min-width: 620px) {
  .track__p {
    margin-top: 24px;
    font-size: 18.3px;
    width: 695px;
    line-height: 1.48;
  }
}
.track__div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: initial;
}
.track__img {
  max-width: 100%;
  object-fit: cover;
  display: block;
}
.track__img-container {
  margin-top: 68px;
  width: 311px;
}
@media screen and (min-width: 620px) {
  .track__img-container {
    width: 752px;
    margin-top: 85px;
    margin-left: -32px;
  }
}
@media screen and (min-width: 620px) {
  .track__functionalities {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: initial;
  }
}

.main__clipboard {
  margin: 0 32px;
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: center;
  gap: initial;
}

.clipboard__h2 {
  margin-top: 190px;
}
@media screen and (min-width: 620px) {
  .clipboard__h2 {
    margin-top: 150px;
  }
}
.clipboard__p {
  margin-top: 20px;
  padding: 0 20px;
}
@media screen and (min-width: 620px) {
  .clipboard__p {
    margin-top: 24px;
    padding: 0 350px;
    font-size: 18.3px;
    line-height: 1.42;
  }
}
.clipboard__img {
  display: block;
  max-width: 100%;
}
.clipboard__img-container {
  margin-top: 63px;
  object-fit: cover;
  width: 346px;
}
@media screen and (min-width: 620px) {
  .clipboard__img-container {
    margin-top: 103px;
    width: 905px;
  }
}

.main__tools {
  margin: 0 31px;
}

.tools__h2 {
  margin-top: 97px;
}
@media screen and (min-width: 620px) {
  .tools__h2 {
    margin-top: 71px;
  }
}
.tools__p {
  margin-top: 15px;
}
@media screen and (min-width: 620px) {
  .tools__p {
    margin-top: 24px;
    font-size: 18.3px;
  }
}
.tools__container {
  margin-top: 34px;
}
@media screen and (min-width: 620px) {
  .tools__container {
    margin-top: 75px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
  }
}
.tools__content {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: center;
  gap: initial;
}
@media screen and (min-width: 620px) {
  .tools__content {
    width: 350px;
  }
}
.tools__h3 {
  margin-top: 45px;
}
@media screen and (min-width: 620px) {
  .tools__h3 {
    margin-top: 41px;
    font-size: 23px;
  }
}
.tools__h3 ~ .tools__p {
  margin-top: 21px;
  line-height: 1.64;
  font-size: 16.3px;
}
.tools__img {
  display: block;
}
.tools__img-container {
  margin-top: 59px;
  max-width: 100%;
  object-fit: cover;
}
@media screen and (min-width: 620px) {
  .tools__img-container {
    margin-top: 0;
    justify-items: flex-start;
  }
}

.main__customers {
  padding: 0 32px;
  margin-top: 134px;
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: center;
  gap: initial;
}
@media screen and (min-width: 620px) {
  .main__customers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 95px;
    margin-top: 163px;
  }
}

.customers__img {
  display: block;
  max-width: 100%;
}
.customers__img-container {
  object-fit: cover;
}
.customers__img-container:first-child {
  width: 139px;
}
@media screen and (min-width: 620px) {
  .customers__img-container:first-child {
    width: 165px;
  }
}
.customers__img-container:nth-child(2) {
  margin-top: 66px;
  width: 117px;
}
@media screen and (min-width: 620px) {
  .customers__img-container:nth-child(2) {
    margin-top: 0;
    width: 139px;
  }
}
.customers__img-container:nth-child(3) {
  margin-top: 69px;
  width: 134px;
}
@media screen and (min-width: 620px) {
  .customers__img-container:nth-child(3) {
    margin-top: 0;
    width: 161px;
  }
}
.customers__img-container:nth-child(4) {
  margin-top: 63px;
  width: 113px;
}
@media screen and (min-width: 620px) {
  .customers__img-container:nth-child(4) {
    margin-top: 0;
    width: 135px;
  }
}
.customers__img-container:last-child {
  margin-top: 56px;
  width: 105px;
}
@media screen and (min-width: 620px) {
  .customers__img-container:last-child {
    margin-top: 0;
    width: 125px;
  }
}

.main__available {
  margin: 0 32px;
  margin-top: 172px;
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: center;
  gap: initial;
}
@media screen and (min-width: 620px) {
  .main__available {
    margin-top: 159px;
  }
}

.available__p {
  margin-top: 20px;
}
@media screen and (min-width: 620px) {
  .available__p {
    font-size: 18.3px;
    padding: 0 340px;
    margin-top: 23px;
    line-height: 1.42;
  }
}

.footer {
  margin-top: 170px;
  background-color: #F5F6F8;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: center;
  gap: initial;
}
@media screen and (min-width: 620px) {
  .footer {
    margin-top: 152px;
    padding: 0 165px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: initial;
  }
}
.footer__img {
  max-width: 100%;
  display: block;
}
.footer__img-container {
  margin-top: 53px;
  width: 58px;
  object-fit: cover;
}
@media screen and (min-width: 620px) {
  .footer__img-container {
    margin-top: 0;
  }
}
.footer__list {
  margin-top: 14px;
  list-style: none;
  text-align: center;
}
@media screen and (min-width: 620px) {
  .footer__list {
    margin-left: -200px;
    display: flex;
    text-align: left;
    justify-content: center;
    align-items: center;
    margin-top: 0;
  }
}
.footer__item {
  margin-top: 27px;
}
@media screen and (min-width: 620px) {
  .footer__item {
    margin-top: 19px;
  }
  .footer__item:first-child, .footer__item:nth-child(3) {
    margin-top: 0;
  }
  .footer__item:last-child {
    align-self: flex-start;
  }
}
.footer__item__a {
  text-decoration: none;
  color: var(--neutral-dark);
  transition-duration: 0.5s;
}
.footer__item__a:hover {
  color: var(--primary-strong);
}

@media screen and (min-width: 620px) {
  .footer__div {
    margin: 0 73px 0 97px;
  }
}

.network {
  margin-top: 51px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
@media screen and (min-width: 620px) {
  .network {
    margin: 63px 0;
    gap: 24px;
  }
}
.network__svg {
  max-width: 100%;
  object-fit: cover;
  display: block;
  cursor: pointer;
  transition: 0.5s ease;
}
.network__svg:hover {
  fill: var(--primary-strong);
}

/*# sourceMappingURL=main.css.map */
