:root {
  /* Primary colors */
  --primary-strong: hsl(171deg, 66%, 44%);
  --primary-light: hsl(233deg, 100%, 69%);
  /* Neutral colors */
  --neutral-dark: hsl(210deg, 10%, 33%);
  --neutral-normal: hsl(201deg, 11%, 66%);
  /* Font weight */
  --regular: 400;
  --semibold: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: initial;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 18px;
}

button {
  font-family: "Bai Jamjuree", sans-serif;
}

h2 {
  font-size: 27px;
  color: var(--neutral-dark);
  font-weight: 600;
}

p {
  font-size: 16.3px;
  font-weight: 400;
  color: var(--neutral-normal);
  line-height: 24px;
}

.main {
  text-align: center;
}

.hero__background {
  padding: 0 32px;
  width: 100%;
  background-image: url(../images/bg-header-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .hero__background {
    background-image: url(../images/bg-header-desktop.png);
  }
}
.hero__img {
  max-width: 100%;
  object-fit: cover;
  display: block;
}
.hero__img-container {
  margin-top: 122px;
}
.hero__h1 {
  margin-top: 65px;
  font-size: 31px;
  font-weight: 600;
  color: var(--neutral-dark);
}
.hero__p {
  margin-top: 20px;
}

.main__track {
  padding: 0 32px;
}

.track__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.track__h3:first-child {
  margin-top: 57px;
}
.track__h3 {
  margin-top: 51px;
}
.track__h3 ~ .track__p {
  margin-top: 14px;
  padding: 0 20px;
}
.track__h2 {
  margin-top: 161px;
}
.track__p {
  margin-top: 21px;
  padding: 0 20px;
}
.track__img {
  max-width: 100%;
  object-fit: cover;
  display: block;
}
.track__img-container {
  margin-top: 68px;
  width: 311px;
}

.main__clipboard {
  padding: 0 32px;
}

.clipboard__h2 {
  margin-top: 190px;
}
.clipboard__p {
  margin-top: 20px;
  padding: 0 20px;
}
.clipboard__img {
  display: block;
  width: 346px;
}
.clipboard__img-container {
  margin-top: 63px;
  max-width: 100%;
  object-fit: cover;
}

.main__tools {
  padding: 0 32px;
}

.tools__h2 {
  margin-top: 97px;
}
.tools__p {
  margin-top: 15px;
  padding: 0 10px;
}
.tools__container {
  margin-top: 34px;
}
.tools__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tools__h3 {
  margin-top: 45px;
}
.tools__img {
  display: block;
}
.tools__img-container {
  margin-top: 59px;
  max-width: 100%;
  object-fit: cover;
}

.main__customers {
  padding: 0 32px;
  margin-top: 134px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.customers__img {
  display: block;
}
.customers__img-container {
  max-width: 100%;
  object-fit: cover;
}
.customers__img-container:nth-child(2) {
  margin-top: 66px;
}
.customers__img-container:nth-child(3) {
  margin-top: 69px;
}
.customers__img-container:nth-child(4) {
  margin-top: 63px;
}
.customers__img-container:last-child {
  margin-top: 56px;
}

.download {
  width: 312px;
  height: 56px;
  border: 0px;
  border-radius: 50px;
  font-size: 19px;
  font-weight: 600;
  color: white;
  cursor: pointer;
}
.download-container {
  display: flex;
  flex-direction: column;
  margin-top: 51px;
}
.download--ios {
  background-color: var(--primary-strong);
  box-shadow: 1px 1px 10px var(--primary-strong);
}
.download--mac {
  background-color: var(--primary-light);
  box-shadow: 1px 1px 10px var(--primary-light);
  margin-top: 24px;
}

/*# sourceMappingURL=main.css.map */
