@use '../utilities/mixins' as mixins;

.main__available {
  padding: 0 32px;
  margin-top: 172px;
  @include mixins.caja-flex(column,initial,center);
}

.available {
  &__p {
    margin-top: 20px;
  }
}