@use '../utilities/mixins' as mixins;

.main__available {
  padding: 0 32px;
  margin-top: 172px;
  @include mixins.caja-flex(column,initial,center);
  @include mixins.desktop {
    margin-top: 159px;
  }
}

.available {
  &__p {
    margin-top: 20px;
    @include mixins.desktop {
      font-size: 18.3px;
      padding: 0 340px;
      margin-top: 23px;
      line-height: 1.42;
    }
  }
}