@use '../utilities/mixins' as mixins;

.download {
  width: 312px;
  height: 56px;
  border: 0px;
  border-radius: 50px;
  font-size: 19px;
  font-weight: 400;
  color: white;
  cursor: pointer;
  transition: .5s ease;
  &:hover {
    opacity: .8;
  }

  &-container {
    @include mixins.caja-flex(column,initial,initial);
    margin-top: 51px;
  }
  &--ios {
    background-color: var(--primary-strong);
    box-shadow: 1px 1px 10px var(--primary-strong);
  }
  &--mac {
    background-color: var(--primary-light);
    box-shadow: 1px 1px 10px var(--primary-light);
    margin-top: 24px;
  }
}