@use '../utilities/mixins' as mixins;

.main__clipboard {
  margin: 0 32px;
  @include mixins.caja-flex(column,initial,center);
}

.clipboard {
  &__h2 {
    margin-top: 190px;
    @include mixins.desktop {
      margin-top: 150px;
    }
  }
  &__p {
    margin-top: 20px;
    padding: 0 20px;
    @include mixins.desktop {
      margin-top: 24px;
      padding: 0 350px;
      font-size: 18.3px;
      line-height: 1.42;
    }
  }
  &__img {
    &-container {
      margin-top: 63px;
      object-fit: cover;
      width: 346px;
      @include mixins.desktop {
        margin-top: 103px;
        width: 905px;
      }
    }
    display: block;
    max-width: 100%;
  }
}