@use '../utilities/mixins' as mixins;

.main__hero {
  width: 100%;
}

.hero {
  margin: 0 32px;
  &__background {
    padding: 0 31px;
    width: 100%;
    background-image: url(../images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-size: contain;
    @include mixins.caja-flex(column,center,center);
    @include mixins.desktop {
      background-image: url(../images/bg-header-desktop.png);
      padding: 0 350px;
    }
  }
  &__img {
    &-container {
      margin-top: 122px;
      @include mixins.desktop {
        margin-top: 131px;
      }
    }
    max-width: 100%;
    object-fit: cover;
    display: block;
  }

  &__h1 {
    margin-top: 65px;
    font-size: 31px;
    font-weight: 600;
    color: var(--neutral-dark);
    @include mixins.desktop {
      margin-top: 57px;
      font-size: 44.5px;
    }
  }
  &__p {
    margin-top: 20px;
    line-height: 26px;
    @include mixins.desktop {
      margin-top: 18px;
      line-height: 1.28;
    }
  }
}