@use '../utilities/mixins' as mixins;

.main__tools {
  margin: 0 31px;
}

.tools {
  &__h2 {
    margin-top: 97px;
  }
  &__p {
    margin-top: 15px;
  }
  &__container {
    margin-top: 34px;
  }
  &__content {
    @include mixins.caja-flex(column,initial,center);
  }
  &__h3 {
    margin-top: 45px;
  }
  &__img {
    &-container {
      margin-top: 59px;
      max-width: 100%;
      object-fit: cover;
    }
    display: block;
  }
}