@use '../utilities/mixins' as mixins;

.main__track {
  margin: 0 32px;
}

.track {
  &__container {
    @include mixins.caja-flex(column,center,center);
  }
  &__h3:first-child {
    margin-top: 57px;
  }
  &__h3 {
    margin-top: 51px;
  }
  &__h3 ~ &__p {
    margin-top: 14px;
  }
  &__h2 {
    margin-top: 161px;
  }
  &__p {
    margin-top: 21px;
  }

  &__img {
    &-container {
      margin-top: 68px;
      width: 311px;      
    }
    max-width: 100%;
    object-fit: cover;
    display: block;
  }
}