@use '../utilities/mixins' as mixins;

.footer {
  margin-top: 170px;
  background-color: #F5F6F8;
  width: 100%;
  @include mixins.caja-flex(column,initial,center);

  &__img {
    &-container {
      margin-top: 53px;
      width: 58px;
      object-fit: cover;
    }
    max-width: 100%;
    display: block;
  }
  &__list {
    margin-top: 14px;
    list-style: none;
    text-align: center;
  }
  &__item {
    margin-top: 27px;
    &__a {
      text-decoration: none;
      color: var(--neutral-dark);
      transition-duration: .5s;
      &:hover {
        color: var(--primary-strong);
      }
    }
  }
}

.network {
  margin-top: 51px;
  margin-bottom: 50px;
  @include mixins.caja-flex(row,center,center, 40px);
  &__svg {
    max-width: 100%;
    object-fit: cover;
    display: block;
    cursor: pointer;
    transition: .5s ease;
    &:hover {
      fill: var(--primary-strong);
    }
  }
}