@use '../utilities/mixins' as mixins;

.footer {
  margin-top: 170px;
  background-color: #F5F6F8;
  width: 100%;
  @include mixins.caja-flex(column,initial,center);

  &__img {
    &-container {
      margin-top: 53px;
      width: 58px;
      object-fit: cover;
    }
    max-width: 100%;
    display: block;
  }
  &__list {
    margin-top: 14px;
    list-style: none;
    text-align: center;
  }
  &__item {
    margin-top: 27px;
  }
}

.network {
  margin-top: 51px;
  margin-bottom: 50px;
  @include mixins.caja-flex(column,center,center, 40px);
  &__img {
    max-width: 100%;
    object-fit: cover;
    display: block;
    cursor: pointer;
  }
}